<!DOCTYPE HTML>
<html>
<head>
    <title>Advanced Calculator</title>
</head>
<body>
    <h1>Advanced Calculator</h1>
    <form method="post">
        <div>
            <input type="text" id="result" name="result" value="result" readonly>

            <button type="button" value="9" onclick="appendNumber('9')"> 9 </button>
            <button type="button" value="8" onclick="appendNumber('8')"> 8 </button>
            <button type="button" value="7" onclick="appendNumber('7')"> 7 </button>
            <button type="button" value="6" onclick="appendNumber('6')"> 6 </button>
            <button type="button" value="5" onclick="appendNumber('5')"> 5 </button>
            <button type="button" value="4" onclick="appendNumber('4')"> 4 </button>
            <button type="button" value="3" onclick="appendNumber('3')"> 3 </button>
            <button type="button" value="2" onclick="appendNumber('2')"> 2 </button>
            <button type="button" value="1" onclick="appendNumber('1')"> 1 </button>
            <button type="button" value="0" onclick="appendNumber('0')"> 0 </button>

            <button type="button" value="." onclick="appendNumber('.')">.</button>
            <button type="button" value="&lt;" onclick="appendNumber('&lt;')"> &lt; </button>
            <button type="button" value="+" onclick="appendNumber('+')">+</button>
            <button type="button" value="-" onclick="appendNumber('-')">-</button>
            <button type="button" value="*" onclick="appendNumber('*')">*</button>
            <button type="button" value="/" onclick="appendNumber('/')">/</button>
            <button type="button" value="^" onclick="appendNumber('^')">^</button>
            <button type="submit" >=</button>
        </div>
    </form>
    <script>
    function appendNumber(num) {
        document.getElementById('result').value += num;
    }
    function deleteNumber() {
        var currentValue = document.getElementById('result').value;
        document.getElementById('result').value = currentValue.slice(0, -1);
    }
    </script>
</body>
</html> 